body {
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  height: 100vh;
}
h1 {
  font-size: 60px;
}
.logo img {
  width: 50px;
}
#Form {
  backdrop-filter: blur(5px);
  height: 100vh;
  margin: 150px 0;
  padding-bottom: 150px;
  overflow: visible;
}
.box {
  border: 2px solid #fff;
  margin: 70px 0;
  width: 1000px;
}
.loginText {
  background-image: url(../images/login-img.jpg);
  background-size: cover;
  background-position: center;
}

.siginupText {
  background-image: url(../images/signup-img.jpg);
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  /* .form {
    height: 220px;
  } */
}
@media (min-width: 576px) {
  #Form {
    margin: 0 0;
    padding-bottom: 0;
  }
}
